body{
    background-color: rgb(164, 164, 164);
}
/* ------------------------------Nav Bar--------------------------------------- */
.navbar{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
    color: #fff;
    background-color: rgba(22, 40, 68, 1);
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
}
.navbar .logo-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}
.navbar .logo{
    width: 4vh;
    height: 5.5vh;
    padding-top: 0vw;
}
.navbar .school_name{
    margin-right: -10vw;
    margin-left: 1vw;
}
.navbar .container{
    display: flex;
    margin-left: 40vw;
}
.navbar li{
    display: flex;
    padding: 0 3vw 0 2vw;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 0 2vw;
}
.navbar a::before{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 0.2vw;
    width: 0%;
    left: 0;
    bottom: -0.85vw;
    transition: all 0.5s ease-in-out;
}
.navbar a:hover:before{
    width: 100%;
}
.navbar .icon-container{
    display: none;
}
/* ------------------------------------------content-------------------------------------------- */

.list-container {
    position: relative;
    width: 30vw;
    height: 9vw;
    margin: 78vh 0 0 1.5vw; 
    border: none; /* เส้นขอบรอบ */
    border-radius: 1vw; /* มุมโค้งมน */
    padding: 1.2vw 0 0 0;
    background-color: #fff; /* พื้นหลังสีขาว */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
    font-family: "Anuphan", serif;
}

.list-item {
    display: flex;
    justify-content: space-between; /* จัดตำแหน่งให้ซ้ายและขวาห่างเท่ากัน */
    align-items: center;
    padding: 0.5vw 0 0.5vw 1.2vw;
    font-size: 1.2vw;
    font-weight: normal;
    color: #333; /* สีข้อความ */ 
}

.line{
    background-color: #dce8ff;
    width: 28vw;
    height: 0.15vw;
    margin-left: 1vw;
    border-radius: 1vw;
}

.number {
    font-weight: normal;
    font-size: 1.2vw;
    color: #000; /* สีตัวเลข */
    padding-right: 1vw;
}
@media (max-width: 1180px){
    .navbar .container{
        display: flex;
        margin-left:  32vw;
    }
    .list-container {
        position: relative;
        width: 35vw;
        height: 12vw;
        margin: 78vh 0 0 1.5vw; 
    }
    .list-item {
        align-items: center;
        padding: 0.7vw 0 1vw 1.2vw;
        font-size: 1.5vw;
        font-weight: normal;
        color: #333; /* สีข้อความ */ 
    }
    .line{
        width: 33vw;
        height: 0.15vw;
        margin-left: 1vw;
        border-radius: 1vw;
    }
}
@media (max-width: 1024px){
    .navbar .container{
        display: flex;
        margin-left:  32vw;
    }
    .list-container{
        margin: 90% 0 0 1.5vw;
    }
}
@media (max-width: 431px){
    .navbar .school_name{
        display: none;
    }
    .navbar .container{
        display: none;
        margin-left: 32vw;
    }
    .navbar .icon-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 50vw;
        font-size: 6.4vw;
        gap: 1.8vw;
    }   
    .list-container{
        position: absolute;
        /* margin: 80vh 0 0 5vw; */
        width: 40vh;
        height: 35vw;
        border-radius: 2vw;
        bottom: 3%;
        left: 50%;
        transform: translateX(-52%);
    }
    .list-item {
        font-size: 5vw;
        padding: 3vw 0 1vw 2.5vw;
    }
    .line{
        width: 38vh;
        height: 0.5vw;
        margin-left: 2vw;
        border-radius: 1vw;
    }
    .number {
        font-size: 5vw;
        padding-right: 3vw;
    }
}