:root{
    --font-thai: 'Anuphan', serif;
    --font-english: 'Poppins', serif;
    --focus:rgb(61, 102, 167);
    --color-1:#2f4c7a;
    --input-bg: #F1F6FF;
}
body{
    background: 
        linear-gradient(rgba(22, 40, 68, 0.5)) no-repeat, 
        url("../bg.jpg") no-repeat;
    background-blend-mode: multiply;
    background-size:  100% 100%;
    background-attachment: fixed;
    background-position: center; 
}   
/* ------------------------------Nav Bar--------------------------------------- */
.navbar{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
    color: #fff;
    background: rgba(22, 40, 68, 0.45);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.15);
    border-bottom: 1px solid rgba(255,255,255,0.12);
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;

}

.navbar .center{    
    position: absolute;
    left: 50%;
    text-align: center;
    font-size: 2.5vh;
}
.navbar .logo-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}
.navbar .logo{
    width: 4vh;
    height: 5.5vh;
    padding-top: 0vw;
}
.navbar .school_name{
    flex: 50%;
    padding-left: 0.5vw;
}
/* ------------------------------Login--------------------------------------- */
.login-part{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 300px;
    min-height: 400px;
    transform: translate(-50%, -50%);
    font-family:'Poppins', sans-serif ;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.login-part .welcome{
    font-size: 48px;
    color: #ffffff;
}
.login-part .line{
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    margin: 0.7vw 0;
}
.fill input,select{
    background-color: #F1F6FF;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: none ;
    display: block;   
    width: 285px;
    height: 20px;
    font-size: 20px;
    font-family: var(--font-thai);
    border-bottom: 0.2vw solid rgb(61, 102, 167);
}
.fill input:focus{
    border: 0.15vw solid rgb(61, 102, 167);
    outline: 0.16vw solid rgba(61, 102, 167, 0.5);

}
.login-part .m-b{
    display: none;
}
.login-part .username{
    font-size: 22px;
    color: #ffffff;
}
/* .student-id input{
    width: 10vw;
    font-size: 0.9vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.login-part .password{
    font-size: 22px;
    color: #ffffff;
}
.password-icon{
    position: absolute;
    margin-left: 14.2vw;
    margin-top: -2vw;
    cursor: pointer;
    font-size: 1.3vw;
    
}
.fill select{
    margin: 20px 0;
    padding: 0;
    /* margin-top: 20px; */
    width: 305px;
    height: 40px;
    font-size: 18px;
}

.fill .zone{
    font-family: var(--font-thai);
}

.login-part button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 40px;
    background-color: rgba(4, 21, 48, 1);
    color: #fff;
    font-size: 22px;
    padding: 0.2vw 1vw;
    border: 0.1vw solid transparent;
    border-radius: 15px;
    cursor: pointer;
    margin: 0;
}
.login-part button:hover{
    background-color:rgb(58, 95, 156);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
@media(max-width: 768px){
    .logo-info .school_name{
        display: none;
    }
}
@media(max-width: 431px) {
    body {
    /* background: 
      linear-gradient(rgba(22, 40, 68, 0.5), rgba(22, 40, 68, 0.5)) no-repeat, 
      url("../bg.jpg") no-repeat center center; */
    background-size: cover;
    background-attachment: fixed;
  }
    .navbar{
        width: 100%;
        height: 6vh;
    }
    .navbar .logo{
        width: 3vh;
        height: 4.5vh;
        padding-top: 0vw;
    }
    .navbar .center{
        left: 45%;
    }
} 