:root{
    --font-thai: 'Anuphan', serif;
    --font-english: 'Poppins', serif;
    --focus:rgb(61, 102, 167);
    --color-1:#2f4c7a;
    --input-bg: #F1F6FF;
}
html{
    height: 100%;
}
body{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 100%;
}
/* ------------------------------Nav Bar--------------------------------------- */
.navbar{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
    color: #fff;
    background-color: #162844;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}
.navbar .logo-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}
.navbar .logo{
    width: 4vh;
    height: 5.5vh;
    padding-top: 0vw;
}
.navbar .school_name{
    margin-right: -10vw;
    margin-left: 1vw;
}
.navbar .container{
    display: flex;
    margin-left: 40vw;
}
.navbar li{
    display: flex;
    padding: 0 3vw 0 2vw;
    align-items: center;
}
.navbar a{
    /* display: flex; */
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 0 2vw;
    /* justify-content: space-between; */
}
.navbar .icon-container{
    display: none;
}
.navbar a::before{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 0.2vw;
    width: 0%;
    left: 0;
    bottom: -0.85vw;
    transition: all 0.5s ease-in-out;
}
.navbar a:hover:before{
    width: 100%;
}
/* -------------------------------------------content-------------------------------------- */
.box-bg{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2vw;
    padding: 8.6vh 1.5vw 0 1.5vw;
    height: 88vh;
}
.box-bg > div{   
    padding: 0 1.5vw;
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-radius: 1.5vw;
    box-shadow:  0 10px 20px rgba(0, 0, 0, 0.1),
    0 -4px 8px rgba(0, 0, 0, 0.1);
}
.box-bg .topic{
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: 2vw;
    margin: 1.2vw 0 0.8vw 0;
    color: #2f4c7a;
}
.box-bg .line{
    width: 100%;
    height: 0.2vw;
    background-color: var(--color-1);
    margin-bottom: 1.2vw;
}
/* -------------------------place------------------------- */
.topic-1{
    height: 100%;
}
.topic-1 .top-info,.path2{
    font-family: var(--font-thai);
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
    row-gap: 0.8vw;
}
.top-info textarea,input{
    height: 1.8vw;
    font-family: "Anuphan", serif;
    font-size: 1.3vw;
    background-color: #F1F6FF;
    border-radius: 0.3vw;
    outline: none;
    border: none;
}
.top-info input:focus{
    border: 0.15vw solid rgb(61, 102, 167);
}
.place input{
    width: 83%;
}
.floor input{
    width: 91%;
}
.room input{
    width: 88.8%;
}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #5279a3; 
    margin: 1vw 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 0.1vw solid #5279a3;
}

.divider:not(:empty)::before {
    margin-right: .75vw;
}

.divider:not(:empty)::after {
    margin-left: .75vw;
}
.explane textarea{
    margin-top: 1vw;
    width: 100%;
    height: 11vw;   
    outline: none;
    border: none;
    resize: none;
}
.explane textarea:focus{
    border: 0.15vw solid rgb(61, 102, 167);
}
/* -------------------------problem------------------------- */
.type, .type > .choose, .more-info, textarea{
    font-family: var(--font-thai);
    font-size: 1.3vw;
    margin-bottom: 0.5vw;
}
.choose, textarea{       
    background-color: var(--input-bg);
    border-radius: 0.3vw;
    outline: none;
    border: none;
    
}
.choose:focus, textarea:focus{
    border: 0.15vw solid rgb(61, 102, 167);
}
.choose{
    width: 92.9%;
    height: 1.8vw;
}
textarea{
    width: 100%;
    height: 11vw;
    resize: none;
}
/* -------------------------Btn--------------------------- */
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0vw 1.5vw;
    cursor: pointer;
    font-size: 1.2vw;
    border-radius: 10vw;
    background: #e8e8e8;
    border: 0.1vw solid #e8e8e8;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
    width: 21vw;
    height: 3vw;
    outline: none;
    font-family: "Poppins", serif;
    font-weight: bold;
  }
  
  .button2:active {
    color: #666;
    /* box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff; */
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #162844;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 0.1vw solid #162844; /* สีขอบ*/
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #4771b5;  /* ด้านล่าง*/
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #162844; /* สีตอนจบ*/
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

/* .file {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 0.7vw 2vw;
    cursor: pointer;
    background-color: #2f4c7a;
    color: white;
    border-radius: 0.2vw;
    width: 16.5vw ;
    margin: 1vw 0 0 0vw;
    font-family: "Poppins", serif;
}
.file-list {
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 10vw 10vw;
    gap: 0.5vw;
}
.file-item {
    display: flex;
    align-items: center;
    padding: 0.5vw;
    border: 0.15vw solid #ddd;
    border-radius: 0.3vw;
    background-color: #f9f9f9;
    max-width: 10vw;
}
.file-name {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer; */
    /* flex-grow: 1; ให้ชื่อไฟล์ขยายตัวตามพื้นที่ */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cancel-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1vw;
    flex-shrink: 0;
    margin-left: 1vw; /* ค่าตั้งต้น */
/* }   
.custom-file-upload:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.custom-file-upload:active {
    transform: scale(0.9);
} */ 


.custum-file-upload {
    display: flex;
    height: 16vw;
    width: 61vw;
    flex-direction: column;
    align-items: space-between;
    gap: 1vw;
    cursor: pointer;
    justify-content: center;
    border: 0.15vw dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.3vw;
    position: relative;
    transition: all 0.3s ease;

}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon i {
  font-size: 5vw;
  /* fill: rgba(75, 85, 99, 1); */
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-english);
  font-size: 1.3vw;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload .icon,
.custum-file-upload .text {
    transition: opacity 0.3s ease;
}
.custum-file-upload input {
  display: none;
}

.custum-file-upload.hide-placeholder .icon,
.custum-file-upload.hide-placeholder .text {
    display: none;
}

.preview-list {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
   
    grid-template-columns: repeat(4, minmax(12vw, 1fr));
    max-width: 60vw;
    gap: 0.8vw;
    margin-top: 1vw;
    width: 100%;
    z-index: 100;
    padding: 0 0.5vw;
}

.preview-item {
    position: relative;
}

.preview-item img {
    width: 100%;
    height: 13vw;
    object-fit: cover;
    border-radius: 0.5vw;
}

.preview-item .info {
    font-size: 1vw;
    text-align: center;
    margin-top: 0.2vw;
    word-break: break-word;
    font-family: var(--font-english);
}

.remove-btn {
    position: absolute;
    top: -0.7vw;
    right: -0.78vw;
    background: #fff;
    border: 0.1vw solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2vw;
    width: 1.5vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}

.remove-btn:hover {
    background: red;
    color: white;
}